:root {
  /* -------- COLORS --------*/
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
  --gray: rgb(128, 128, 128);
  --purple: rgb(156, 87, 203);
  --line-blue: rgb(0, 119, 182);
  --bg-light-blue: rgb(236, 246, 255);
  --bg-header: linear-gradient(180deg, #012a4a 0, #0077b6 50%, #025079 100%);
  --bg-menu: linear-gradient(180deg, #012a4a 0, #024f79 100%);
  --button-color: linear-gradient(
    140deg,
    rgb(156, 87, 203) 0,
    rgb(113, 67, 191) 100%
  );
  --dark-blue: #012a4a;
  --icons-hover: rgb(0, 180, 216);
  --button-color-hover: linear-gradient(
    280deg,
    rgb(156, 87, 203) 0,
    rgb(113, 67, 191) 100%
  );
  --shadow-card: rgba(17, 6, 6, 0.15);
  /* -------- FONTS --------*/
  --logo-slogan: "Bebas Neue", cursive;
  --font-main: "Poppins", sans-serif;
  --xsm: 12px;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}
