@use "vars";

.deals {
  width: 100%;
  height: 450px;
  background-image: url(../assets/bg-cards.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 12px 0;
  margin-top: 50px;
}

.deals__container {
  width: 100%;
  height: 100%;
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.deals__img {
  height: 50%;
  width: auto;
}

.deals__info-title {
  font-size: 2.5em;
  color: var(--white);
  font-weight: 600;
  margin-bottom: 10px;
}

.deals__info-time {
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 15px;
}

.deals__info-time span {
  font-size: 1.25em;
  font-weight: 500;
}

.deals__info-product-name {
  font-size: 1.25em;
  font-weight: 600;
}

.deals__info-price {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.price-deal {
  font-size: 1.25em;
  font-weight: 600;
  margin-right: 50px;
}

.price-before {
  font-size: 1em;
  font-weight: 500;
  color: var(--gray);
  text-decoration: 2px line-through rgb(255, 0, 0);
}

.btn-deals {
  padding: 8px 20px;
  font-size: 0.93em;
  margin-top: 20px;
}

@media screen and (min-width: 500px) and (max-width: 810px){
  .deals {
    height: 550px;
  }
}

@media screen and (min-width: 810px) and (max-width: 1030px) {
  .deals__container {
    flex-direction: row;
    padding: 12px;
    justify-content: space-evenly;
  }

  .deals__img {
    height: 90%;
    margin-right: 50px;
  }
}

@media screen and (min-width: 1030px) {
  .deals__container {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .deals__img {
    height: 95%;
    margin-right: 100px;
  }

  .deals__info-title {
    font-size: 3.5em;
  }

  .deals__info-product-name {
    font-size: 1.87em;
  }

  .deals__info-time {
    font-size: 1.12em;
  }

  .price-deal,
  .deals__info-time span {
    font-size: 1.25em;
  }

  .price-before {
    font-size: 1.12em;
  }

  .btn-deals {
    padding: 15px 35px;
    margin-top: 35px;
  }
}
