@use "vars";

.footer {
  width: 100%;
  background: var(--bg-light-blue);
  margin-top: 45px;
}

.smarttech {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.smarttech__logo {
  width: 100%;

  display: flex;
  align-items: center;
  padding: 30px 0 30px 20px;
}

.logo__footer {
  height: 30px;
  margin: 15px 0;
}

.logo__title {
  text-align: center;
  font-family: var(--logo-slogan);
  font-size: 1.6em;
  font-weight: normal;
}

.smarttech__pay {
  width: 100%;
  display: flex;
  justify-content: space-evenly;

  padding: 0 20px;
}

.smarttech__copy {
  text-align: justify;
  padding: 0 20px 30px 20px;
}

.payment-methods {
  width: 46.67px;
  height: 26.25px;
}

.contact {
  width: 100%;

  display: flex;
  flex-direction: column;
}

.us {
  width: 100%;

  padding: 20px;
}

.us__title {
  font-size: 0.92em;
  font-weight: 500;
  text-align: center;
}

.us__methods {
  display: flex;
  align-items: center;
}

.method__title {
  font-size: 0.8em;
  font-weight: 400;
  padding: 10px;
}

.social {
  width: 100%;
  padding: 0 20px;
}

.social__title {
  font-size: 0.92em;
  font-weight: 500;
  text-align: center;
}

.social-media {
  padding: 20px 0;
  display: flex;
  justify-content: space-evenly;
}

.copyrigth {
  padding: 20px 20px;
  text-align: center;
}

.copyrigth__p {
  font-size: 1em;
  font-weight: 400;
  color: var(--gray);
}

@media screen and (min-width: 500px) and (max-width: 1030px) {
  .footer {
    padding-top: 30px;
  }

  .media {
    display: flex;
    justify-content: space-evenly;
  }
  .smarttech {
    width: 45%;
  }

  .smarttech__logo {
    padding: 20px 0 20px 20px;
  }

  .smarttech__logo {
    width: 100%;
  }

  .logo__title {
    padding-left: 5%;
  }
  .contact {
    width: 40%;
  }

  .copyrigth__p {
    text-align: center;
  }
}

@media screen and (min-width: 1030px) and (max-width: 1700px) {
  .footer {
    padding-top: 30px;
  }

  .media {
    display: flex;
    justify-content: space-evenly;
  }

  .smarttech {
    width: 35%;
  }

  .smarttech__logo {
    padding: 20px 0 20px 20px;
  }

  .contact {
    width: 30%;
  }

  .copyrigth__p {
    text-align: center;
  }
}
