@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-size: 12px;
  font-family: var(--font-main);
}

.btn-primary {
  color: var(--white);
  border: none;
  border-radius: 10px;
  outline: none;
  background: var(--button-color);
  cursor: pointer;
  transition: all 0.5s;
}

.subtitle {
  font-size: 2.37em;
  font-weight: 600;
  text-align: center;
  margin-top: 60px;
}

.btn-primary:hover {
  background: var(--button-color-hover);
}

@media screen and (min-width: 500px) and (max-width: 1030px) {
  body {
    font-size: 15px;
  }
}

@media screen and (min-width: 1030px) {
  body {
    font-size: 16px;
  }
}
