@import 'vars';

nav {
	width: 100%;
	background: var(--bg-menu);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 24px;
	border-bottom: 1px solid var(--icons-hover);
	position: sticky;
	top: 0;
}
.menu {
	display: none;
}
.nav-logo {
	width: 230px;
	
	align-self: center;
}
.navbar-left ul,
.navbar-right ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	height: 60px;
}
.navbar-left {
	display: flex;
}
.navbar-left ul {
	margin-left: 28px;
}
.navbar-left ul li a,
.navbar-right ul li a {
	text-decoration: none;
	color: var(--white);
	padding: 8px;
	border-radius: 8px;
}
.navbar-left ul li a:hover,
.navbar-right ul li a:hover {
	color: var(--icons-hover);
}
.navbar-email {
	color: var(--white);
	font-size: var(--sm);
	margin-right: 12px;
	cursor: pointer;
}
.navbar-shopping-cart {
	position: relative;
	cursor: pointer;
	fill: var(--white);
}
.navbar-shopping-cart div {
	width: 16px;
	height: 16px;
	background-color: var(--white);

	border-radius: 50%;
	font-size: var(--sm);
	font-weight: 500;
	position: absolute;
	top: -6px;
	right: -3px;
	display: flex;
	justify-content: center;
	align-items: center;
}
@media (max-width: 950px) {
	.menu {
		display: block;
	}
	.navbar-left ul {
		display: none;
	}
	.navbar-email {
		display: none;
	}
}

@media (max-width: 400px) {
	.nav-logo {
		width: 180px;
	}
}