@use "vars";

.the-most-sold__title {
  text-align: left;
}

.the-most-sold__container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

.the-most-sold__card {
  width: 80%;
  max-width: 414px;
  border-radius: 22px;
  box-shadow: 0 0 50px var(--shadow-card);
  margin: 20px;
  transition: all 0.6s;
  cursor: pointer;
}

.the-most-sold__card:hover {
  transform: translateY(-15px);
}

.the-most-sold__card-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 22px 22px 0 0;
}

.the-most-sold__card-title {
  font-size: 1.37em;
  font-weight: 600;
  margin: 20px 0 15px 15px;
}

.the-most-sold__card-desc {
  font-size: 0.93em;
  margin: 0 0 40px 15px;
  color: var(--gray);
}

@media screen and (min-width: 500px) and (max-width: 1030px) {
  .the-most-sold__card-img {
    height: 330px;
  }
}

@media screen and (min-width: 1030px) {
  .the-most-sold__card-img {
    height: 330px;
  }
}
