@use "vars";

.popular-products__container {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
}

.product-card {
  width: 80%;
  max-width: 255px;
  border-radius: 22px;
  box-shadow: 0 0 50px var(--shadow-card);
}

.product-card__img {
  width: 100%;
  height: 233px;
  object-fit: cover;
  border-radius: 22px 22px 0 0;
}

.product-card__name {
  width: 60%;
  font-size: 1.57em;
  font-weight: 600;
  margin: 22px 0 10px 15px;
}

.product-card__price-buy {
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 22px;
}

.product-price {
  font-size: 1.07em;
  font-weight: 400;
  color: var(--gray);
}

.product-buy {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid var(--purple);
  display: grid;
  place-items: center;
}

.product-icon-buy {
  font-size: 22px;
  color: var(--purple);
}

@media screen and (min-width: 500px) and (max-width: 1030px) {
  .product-card__name {
    font-size: 1.37em;
  }

  .product-price {
    font-size: 0.93em;
  }

  .popular-products__container {
    width: 100%;
    padding: 0 75px;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1030px) {
  .product-card__name {
    font-size: 1.37em;
  }

  .product-price {
    font-size: 0.93em;
  }

  .popular-products__container {
    width: 100%;
    padding: 0 75px;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}
