@use 'vars';

.product-detail {
  width: 100%;
  max-width: 400px;
  border-bottom-left-radius: 22px;
  border-top-left-radius: 22px;
  background: var(--bg-light-blue);
  box-shadow: 0 0 50px var(--shadow-card);
  position: absolute;
  right: 0;
  top: 61px;
  z-index: 1;
}

.product-detail__img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 22px;
}

.close-icon {
  width: 45px;
  height: 45px;
  display: grid;
  place-items: center;
  background-color: var(--white);
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 20px;
  box-shadow: 0 0 8px var(--shadow-card);
  z-index: 10;
  cursor: pointer;
}

.close-icon i {
  font-size: 30px;
  color: var(--gray);
}

.product-detail__info {
  padding: 20px 20px 30px 20px;
}

.product-detail__info-name {
  font-size: 1.37em;
  font-weight: 600;
  margin-bottom: 15px;
}

.product-detail__info-desc {
  font-size: 1em;
  font-weight: 400;
  color: var(--gray);
  margin-bottom: 20px;
}

.specifications__title {
  font-size: 1.18em;
  font-weight: 500;
  margin-bottom: 10px;
}

.specifications__list {
  padding-left: 15px;
}

.specifications__list-point {
  font-size: 1em;
  font-weight: 400;
  color: var(--purple);
}

.specifications__list-point span {
  color: var(--gray);
}

.product-detail__info-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.price {
  font-size: 1em;
  color: var(--gray);
  font-weight: 400;
}

.price__number {
  font-size: 1.25em;
  font-weight: 600;
  color: var(--purple);
}

.btn-product-detail {
  padding: 8px 40px;
}