@use 'vars';
.header-about {
  width: 100%;
  height: calc(100vh - 60px);
  background-image: url(../assets/assets-about/bg-header.jpg);
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
}

.header-about__cap {
  width: 100%;
  height: 100%;
  background-color: rgba(1, 42, 74, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--white);
  font-family: var(--logo-slogan);
}

.header__about-slogan {
  font-size: 2.5em;
  font-weight: 400;
  border-bottom: 2px solid var(--white);
}

.header__content-company {
  font-size: 1.87em;
  margin-top: 15px;
}

@media screen and (min-width: 500px) and (max-width: 1030px) {
  .header__about-slogan {
    font-size: 4.2em;
  }

  .header__content-company {
    font-size: 2.81em;
  }
}

@media screen and (min-width: 1030px) {
  .header__about-slogan {
    font-size: 5.6em;
  }

  .header__content-company {
    font-size: 2.81em;
  }
}
