@use 'vars';
.header {
  width: 100%;
  height: calc(100vh - 60px);
  padding: 0 15px;
  background: var(--bg-header);
  display: grid;
  place-items: center;
}

.header-container {
  width: 100%;
  max-width: 1430px;
  display: inherit;
  grid-template-columns: 100%;
  place-items: center;
}

.header__img{
  display: flex;
  justify-content: center;
}

.header__img-mockup {
  width: 80%;
  max-width: 790px;
  grid-row: 2/3;
}

.header__info {
  grid-row: 1/2;
  text-align: center;
  color: white;
  margin-bottom: 32px;
}

.header__info-title {
  font-size: 3.12em;
  font-weight: 700;
  margin-bottom: 15px;
}

.header__info-description {
  width: 100%;
  max-width: 500px;
  font-size: 1.12em;
  margin: 0 auto 50px auto;
}

.btn-header {
  padding: 13px 72px;
  font-size: 1.18em;
}

@media screen and (min-width: 1000px) {
  .header-container {
    grid-template-columns: 60% 1fr;
  }

  .header__img-mockup {
    width: 100%;
    grid-column: 1/2;
  }

  .header__info {
    grid-column: 2/3;
  }
}
