@use 'vars';

.testimonials {
  font-family: var(--font-main);
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonials__top {
  width: 90%;
  margin: 24px 0;
  display: inherit;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.testimonials__title {
  width: 50%;
  max-width: 200px;
  font-size: var(--lg);
  font-weight: 700;
  border-bottom: 2px solid var(--purple);
  margin-bottom: 12px;
}

.testimonials__copy {
  font-size: var(--sm);
  font-weight: 400;
  color: var(--gray);
}

.testimonials__grid {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 400px));
  gap: 40px;
  justify-content: center;
}

.testimonials__card {
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 0 30px var(--shadow-card);
  padding: 15px;
}

.card__user {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.user__img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-right: 24px;
}

.info__name {
  font-size: var(--sm);
  font-weight: 600;
}

.info__subjects {
  font-size: var(--xsm);
  color: var(--gray);
  font-weight: 400;
}

.testimonials__testimony {
  font-size: var(--xsm);
  text-align: justify;
  color: var(--gray);
  font-weight: 400;
}